<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="Volver"></ion-back-button>
    </ion-buttons>
    <ion-title>CV</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Perfil -->
  <ion-row>
    <ion-col size="6">
      <div class="profile">
        <div class="avatar">
          <img [src]="cvData.image ? 'data:image/jpeg;base64,' + cvData.image : '../../assets/leonix/image1.png'" alt="Avatar Image" class="photo">
        </div>
      </div>
    </ion-col>

    <ion-col size="6">
      <div class="name-container">
        <div class="name">
          <p class="first-name">{{ userInfo.nombre || 'Sin Nombre' }}</p>
          <p class="last-name">{{ userInfo.apellidos?.split(' ')[0] || 'Sin Apellido' }}</p>
          <p class="last-name">{{ userInfo.apellidos?.split(' ')[1] || '' }}</p>
        </div>
      </div>
    </ion-col>
    
  </ion-row>

  <!-- Informacion CV -->
  <ion-card class="info-container about-me">
    <ion-card-header>
      <ion-card-title>Acerca de mí</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ cvData.about_me || 'Sin Informacion de Mi' }}</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="info-container experience">
    <ion-card-header>
      <ion-card-title>Experiencia Laboral</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ cvData.work_xp || 'Sin Experiencia' }}</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="info-container skills">
    <ion-card-header>
      <ion-card-title>Habilidades Técnicas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ cvData.skills || 'Sin Habilidades' }}</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="info-container education">
    <ion-card-header>
      <ion-card-title>Estudios</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ cvData.education || 'Sin educacion' }}</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="info-container contact">
    <ion-card-header>
      <ion-card-title>Contacto</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ cvData.address || 'Sin Direccion' }}</p>
      <p>{{ cvData.phone || 'Sin Telefono' }}</p>
      <p>{{ cvData.email || 'Sin Correo Electrónico' }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>