<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>CV de Angel Gonzalez Hernandez</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Acerca de Mí</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Soy un desarrollador apasionado con un compromiso continuo hacia el progreso y la adopción de las últimas tecnologías.
        Mi enfoque se orienta a la creación de soluciones innovadoras que se adapten de manera ágil a las cambiantes demandas
        del panorama tecnológico. Mi mentalidad proactiva me impulsa a anticipar y satisfacer las necesidades futuras de los usuarios.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Experiencia Laboral</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Desarrollador Back-end, WorkNest, Durango, Dgo. (Septiembre 2023 - Diciembre 2023)</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Desarrollador Front-end y Back-end, Tacos pelao'os, Durango, Dgo. (Mayo 2022 - Agosto 2022)</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Especialización y Habilidades Técnicas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Me especializo en el desarrollo de aplicaciones web y móviles utilizando el framework Ionic y Angular, con un enfoque claro
        en proporcionar una experiencia de usuario excepcional. He integrado middleware de manera estratégica para potenciar tanto
        la eficiencia como la funcionalidad del sistema, aportando significativamente al desarrollo de soluciones robustas y eficientes
        tanto para plataformas web como móviles.
      </p>
      <ion-list>
        <ion-item>HTML, CSS, JavaScript</ion-item>
        <ion-item>PHP, Java</ion-item>
        <ion-item>MySQL</ion-item>
        <ion-item>Laravel, Angular, Ionic, Flutter</ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Estudios</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Ingeniería en Software, Universidad Politécnica de Durango, Durango, Dgo. (09/2020 – 12/2023)</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Soporte y Mantenimiento de Equipos de Cómputo, CETIS 148, Durango, Dgo. (08/2017 – 07/2020)</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Contacto</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Coahuila 1206, Morga, 34010 Durango, Dgo.</p>
      <p>Teléfono: +52 6182587863</p>
      <p>Email: angelgonzalezh08gmail.com</p>
    </ion-card-content>
  </ion-card>

</ion-content>
