ion-content {
  //--background: url("https://w.wallhaven.cc/full/l3/wallhaven-l3971q.png") center/cover no-repeat fixed;
  --background: url("https://cdn-images-1.medium.com/max/1600/1*5XH40dQSsBVFtvx3MO5VwQ.png") center/cover no-repeat fixed;

  // Ocultar scroll
  --offset-bottom: auto !important;
  --overflow: hidden;
  overflow: auto;
  &::-webkit-scrollbar {
      display: none;
  }

  background: var(--background);
}

.header {
  height: 40px;
  background-color: rgba(0, 0, 0, 0.655);
  align-items: center;
  padding: 10px;
  border: 2px solid white;
  color: white;
}

// BOTONES //
.auth {
  background-color: rgba(159, 159, 159, 0.6);
  border-radius: 15px;
  border: 2px solid #fff;
  box-shadow: 0 0 5px white;
  padding: 10px;

  ion-title {
      padding: 10px;
      color: black;
  }

  ion-buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;

      .auth-button {
          flex-grow: 1;
          font-size: 14px;
          border-radius: 10px;
          margin: 0 5px;
          box-shadow: 0 0 5px rgb(0, 0, 0);
          color: black;
      }
  }
}

// LOGIN //
.login {
  background-color: rgba(0, 0, 0, 0.655);
  align-items: center;
  padding: 10px;
  border: 2px solid white;

  .data-item {
      padding: 10px;
  }
}

// REGISTRO //
.register {
  background-color: rgba(0, 0, 0, 0.655);
  align-items: center;
  padding: 10px;
  border: 2px solid white;
}
