<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="toggleCardLogin()">Login</ion-button>
      <ion-button (click)="toggleCardRegister()">Registro</ion-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-title *ngIf="loginCardVisible" [ngClass]="{'slide-in-left': loginCardVisible}">Login</ion-title>
  <!-- Login Form Card -->
  <ion-card *ngIf="loginCardVisible" id="login-card" [ngClass]="{'show-card': loginCardVisible, 'slide-in-from-top': loginCardVisible}" class="animated-card">
    <ion-card-content class="ion-padding">
      <form (ngSubmit)="IniciarSesion()">
        <ion-item>
          <ion-label position="floating">Nombre de usuario</ion-label>
          <ion-input type="text" name="username" required [(ngModel)]="usuario.username"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" name="password" required [(ngModel)]="usuario.password"></ion-input>
        </ion-item>

        <ion-button expand="full" type="submit" class="submit-button">Enviar</ion-button>
      </form>
    </ion-card-content>
  </ion-card>

  <ion-title *ngIf="registerCardVisible" [ngClass]="{'slide-in-left': registerCardVisible}">Registro</ion-title>
  <!-- Registration Form Card -->
  <ion-card *ngIf="registerCardVisible" id="register-card" [ngClass]="{'show-card': registerCardVisible, 'slide-in-from-top': registerCardVisible}" class="animated-card">
    <ion-card-content class="ion-padding">
      <form (ngSubmit)="onSubmit()" #registroForm="ngForm">
        <ion-item>
          <ion-label position="floating">Nombre de usuario:</ion-label>
          <ion-input type="text" name="username" required [(ngModel)]="usuario.username"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Correo electrónico:</ion-label>
          <ion-input type="email" name="email" required [(ngModel)]="usuario.email"></ion-input>
        </ion-item>
        
        <ion-row>
          <ion-col size="6">
            <ion-item>
              <label position="floating">Contraseña:</label>
              <ion-input type="password" name="password" required [(ngModel)]="usuario.password"></ion-input>
            </ion-item>
          </ion-col>
          
          <ion-col size="6">
            <ion-item>
              <label position="floating">Confirmación de contraseña:</label>
              <ion-input type="password" name="confirmPassword" required [(ngModel)]="usuario.confirmPassword"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
            <ion-item>
              <label position="floating">Nombre:</label>
              <ion-input type="text" name="nombre" required [(ngModel)]="usuario.nombre"></ion-input>
            </ion-item>
          </ion-col>
    
          <ion-col size="6">
            <ion-item>
              <label position="floating">Apellidos:</label>
              <ion-input type="text" name="apellidos" required [(ngModel)]="usuario.apellidos"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
    
        <ion-item>
          <label position="floating">Fecha de nacimiento:</label>
          <ion-input type="date" name="fechaNacimiento" [(ngModel)]="usuario.fecha_nacimiento"></ion-input>
        </ion-item>
    
        <ion-item>
          <label>Género:</label>
          <ion-select name="genero" placeholder="Seleccione" [(ngModel)]="usuario.genero_id">
            <ion-select-option *ngFor="let genero of generos" [value]="genero.genero_id">{{ genero.nombre }}</ion-select-option>
          </ion-select>      
        </ion-item>
    
        <ion-item>
          <label position="floating">Número de teléfono:</label>
          <ion-input type="tel" name="numeroTelefono" [(ngModel)]="usuario.numero_telefono"></ion-input>
        </ion-item>
    
        <ion-row class="ion-align-items-center mt-3">
          <ion-col>
          </ion-col>
        </ion-row>
        <ion-button expand="full" type="submit" [disabled]="!registroForm.valid">Registrarse</ion-button>
      </form>
    </ion-card-content>
  </ion-card>

</ion-content>
