<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form (ngSubmit)="IniciarSesion()">
    <ion-item>
      <label position="floating">Nombre de usuario</label>
      <ion-input type="text" name="username" required [(ngModel)]="usuario.username"></ion-input>
    </ion-item>

    <ion-item>
      <label position="floating">Contraseña</label>
      <ion-input type="password" name="password" required [(ngModel)]="usuario.password"></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit">Iniciar Sesión</ion-button>

    <div>
      <ion-button expand="full" type="button" (click)="redirectToRegister()">No estoy registrado</ion-button>
    </div>
  </form>
</ion-content>