<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="Volver"></ion-back-button>
    </ion-buttons>
    <ion-title>CV</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <!-- Acerca de mí -->
    <ion-row>
      <ion-card class="about-me-card">
        <ion-card-header>
          <ion-card-title>Acerca de mí</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div class="about-me-section">
            <h2>Acerca de mí</h2>
            <p>
              Me considero un desarrollador apasionado con un compromiso continuo hacia el progreso y la adopción de las
              últimas tecnologías. Mi enfoque se orienta a la creación de soluciones innovadoras que se adapten de
              manera
              ágil a las cambiantes demandas del panorama tecnológico. Mi mentalidad proactiva me impulsa a anticipar y
              satisfacer las necesidades futuras de los usuarios.
            </p>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-row>

    <!-- Información Personal -->
    <ion-row>
      <ion-card class="personal-info-card">
        <ion-card-header>
          <ion-card-title>Información Personal</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div class="contact-section">
            <h2>CONTACTO</h2>
            <div>Coahuila 1206, Morga, 34010</div>
            <div>Durango, Dgo.</div>
            <div>+52 618 258 7863</div>
            <div>angelgonzalezh08-gmail.com</div>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-row>

    <!-- Tarjeta personal -->
    <ion-row>
      <ion-card class="custom-card">
        <ion-card-header class="custom-card-header">
          <ion-card-title class="custom-card-title">Angel Gonzalez Hernandez</ion-card-title>
        </ion-card-header>
        <ion-card-content class="custom-card-content">
          <!-- Contenido de la tarjeta -->
        </ion-card-content>
      </ion-card>
    </ion-row>

    <!-- Experiencia y Educación -->
    <ion-row>
      <ion-card class="custom-card">
        <ion-card-header class="custom-card-header">
          <ion-card-title class="custom-card-title">Experiencia y Educación</ion-card-title>
        </ion-card-header>
        <ion-card-content class="custom-card-content">
          <div class="experience-section">
            <h2>Septiembre 2023 - Diciembre 2023</h2>
            <h3>Desarrollador Back-end, WorkNest, Durango, Dgo.</h3>
            <p>
              Me especializo en el desarrollo de aplicaciones web y móviles utilizando
              el framework Ionic y Angular, con un enfoque claro en proporcionar una
              experiencia de usuario excepcional. He integrado middleware de manera
              estratégica para potenciar tanto la eficiencia como la funcionalidad del
              sistema, aportando significativamente al desarrollo de soluciones
              robustas y eficientes tanto para plataformas web como móviles. Mi
              experiencia abarca la creación de aplicaciones que no solo son
              visualmente atractivas, sino también altamente optimizadas para ofrecer
              un rendimiento fluido y una experiencia de usuario intuitiva.
            </p>
          </div>

          <div class="experience-section">
            <h2>Mayo 2022 - Agosto 2022</h2>
            <h3>Desarrollador Front-end y Back-end, Tacos pelao'os, Durango, Dgo.</h3>
            <p>
              Creador visual de sitios web que diseñó y construyó una plataforma de
              pedidos en línea, centrándose en la apariencia y la interactividad para
              mejorar la experiencia del usuario. Además, incorporó una interfaz de
              control de inventario mediante middleware para facilitar la navegación y
              una gestión eficiente de los productos.
            </p>
            <p>
              Programador back-end que desarrolló la lógica y la funcionalidad detrás
              de una plataforma de pedidos en línea. Se enfocó en optimizar el
              rendimiento del sistema, gestionar la base de datos y garantizar la
              eficiencia en el procesamiento de pedidos mediante la implementación
              de middleware.
            </p>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-row>

    <!-- Habilidades -->
    <ion-row>
      <ion-card class="skills-card">
        <ion-card-header class="skills-header">
          <ion-card-title class="skills-title">Habilidades</ion-card-title>
        </ion-card-header>
        <ion-card-content class="skills-content">
          <div class="skills-section">
            <h2>HABILIDADES TÉCNICAS</h2>
            <ul>
              <li>HTML</li>
              <li>CSS</li>
              <li>JavaScript</li>
              <li>PHP</li>
              <li>Java</li>
              <li>MySQL</li>
            </ul>
          </div>
          <div class="skills-section">
            <h2>Frameworks</h2>
            <ul>
              <li>Laravel</li>
              <li>Angular</li>
            </ul>
          </div>
          <div class="skills-section">
            <h2>Desarrollo móvil</h2>
            <ul>
              <li>Ionic</li>
              <li>Flutter</li>
            </ul>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-row>

    <!-- Proyectos o Logros -->
    <ion-row>
      <ion-card class="studies-card">
        <ion-card-header>
          <ion-card-title>Estudios</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div class="studies-section">
            <h2>ESTUDIOS</h2>
            <p>
              Ingeniería en Software
              <br />
              Universidad Politécnica de Durango, Durango, Dgo., 09/2020 – 12/2023
            </p>
            <p>
              Soporte y Mantenimiento de Equipos de Cómputo
              <br />
              CETIS 148, Durango, Dgo., 08/2017 – 07/2020
            </p>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>