// Estilos globales
ion-header {
  background-color: #3880ff; // Cambia el color del encabezado según tus preferencias
}

ion-toolbar {
  color: #fff; // Cambia el color del texto en la barra de herramientas
}

ion-content {
  ion-card {
    margin: 10px; // Margen entre las tarjetas
  }

  // Estilos para la sección "Acerca de mí"
  .about-me-card {
    background-color: #f8f8f8; // Color de fondo de la tarjeta
    .about-me-section {
      padding: 10px;
    }
  }

  // Estilos para la sección "Información Personal"
  .personal-info-card {
    background-color: #f0f0f0; // Color de fondo de la tarjeta
    .contact-section {
      padding: 10px;
      div {
        margin-bottom: 5px;
      }
    }
  }

  // Estilos para la tarjeta personal
  .custom-card {
    .custom-card-header {
      background-color: #3880ff; // Color de fondo del encabezado de la tarjeta
      ion-card-title {
        color: #fff; // Color del texto del encabezado de la tarjeta
      }
    }
    .custom-card-content {
      padding: 10px;
    }
  }

  // Estilos para la sección "Experiencia y Educación"
  .experience-section {
    h2 {
      color: #3880ff; // Color de los títulos de experiencia
    }
    h3 {
      color: #333; // Color de los subtítulos de experiencia
    }
    p {
      margin-bottom: 10px;
    }
  }

  // Estilos para la sección "Habilidades"
  .skills-card {
    .skills-header {
      background-color: #3880ff; // Color de fondo del encabezado de habilidades
      ion-card-title {
        color: #fff; // Color del texto del encabezado de habilidades
      }
    }
    .skills-content {
      padding: 10px;
      .skills-section {
        h2 {
          color: #3880ff; // Color de los títulos de habilidades
        }
        ul {
          list-style-type: none;
          padding: 0;
          li {
            margin-bottom: 5px;
          }
        }
      }
    }
  }

  // Estilos para la sección "Estudios"
  .studies-card {
    .studies-section {
      h2 {
        color: #3880ff; // Color de los títulos de estudios
      }
      p {
        margin-bottom: 10px;
      }
    }
  }
}
