<ion-content [fullscreen]="true" class="no-scroll">
  <!-- Perfil -->
  <div class="profile-container">
    <div class="avatar-container">
      <div class="avatar">
        <img src="../../assets/leonix/image1.png" alt="Avatar Image" class="base-image">
        <img src="../../assets/leonix/image2.png" alt="Hover Image" class="hover-image">
      </div>
    </div>
    <div class="name">
      <p class="first-name">Angel</p>
      <p class="last-name">Gonzalez Hernandez</p>
      <p class="nickname">(Leonix)</p>
    </div>
  </div>

  <!-- Reloj -->
  <!-- <div class="reloj">
    <p>{{ currentDateTime | date: 'dd/MM/yyyy - hh:mm:ss a' }}</p>
  </div> -->

  <!-- Easter Egg -->
  <div *ngIf="easterEggActive" class="easter-egg">
    <img src="../../assets/easter-egg/bocchi-asustada.gif" alt="Easter Egg">
    <p>¡Felicidades! Has encontrado 1 de 4 easter eggs :D</p>
  </div>  

  <!-- Tarjeta de información -->
  <ion-card class="default-card-styles info-container">
    <ion-row>
      <!-- Acerca de mí -->
      <ion-col size-md="6" size-xs="12">
        <ion-title>ABOUT ME</ion-title>
        <div class="info-content">
          <p class="role">Software Developer</p>
          <p class="bio">I graduated in Software Engineering, where I initially familiarized myself with Java before delving into the exciting world of web and mobile development. This latter field captured my interest and led me to utilize various tools and frameworks to create innovative solutions.</p>
          <p class="bio">Additionally, I completed a technical degree in Computer Equipment Support and Maintenance. Thanks to this training, I possess solid skills in various areas.</p>
          <p class="additional-skills">Since I started in the world of programming, I have done online work and collaborated with people on digital projects for both companies and end-users. I am quite confident in my way of working and I am very curious, always seeking to improve my skills.</p>
        </div>
      </ion-col>      
    
      <!-- Habilidades técnicas -->
      <ion-col size-md="6" size-xs="12">
        <ion-title>TECHNICAL SKILLS</ion-title>
        <div class="skills-container">
          <!-- Grupo 1 -->
          <div class="skill-group">
            <img src="https://raw.githubusercontent.com/devicons/devicon/55609aa5bd817ff167afce0d965585c92040787a/icons/html5/html5-original.svg" alt="HTML">
            <img src="https://raw.githubusercontent.com/devicons/devicon/55609aa5bd817ff167afce0d965585c92040787a/icons/css3/css3-original.svg" alt="CSS">
            <img src="https://raw.githubusercontent.com/devicons/devicon/55609aa5bd817ff167afce0d965585c92040787a/icons/javascript/javascript-original.svg" alt="JavaScript">
          </div>
        
          <!-- Grupo 2 -->
          <div class="skill-group">
            <img src="https://raw.githubusercontent.com/devicons/devicon/55609aa5bd817ff167afce0d965585c92040787a/icons/typescript/typescript-original.svg" alt="TypeScript">
            <img src="https://raw.githubusercontent.com/devicons/devicon/55609aa5bd817ff167afce0d965585c92040787a/icons/php/php-original.svg" alt="PHP">
            <img src="https://raw.githubusercontent.com/devicons/devicon/55609aa5bd817ff167afce0d965585c92040787a/icons/mysql/mysql-original-wordmark.svg" alt="MySQL">
            <img src="https://raw.githubusercontent.com/devicons/devicon/55609aa5bd817ff167afce0d965585c92040787a/icons/python/python-original.svg" alt="Python">
          </div>
        
          <!-- Grupo 3 -->
          <div class="skill-group">
            <img src="https://raw.githubusercontent.com/devicons/devicon/55609aa5bd817ff167afce0d965585c92040787a/icons/angularjs/angularjs-original.svg" alt="Angular">
            <img src="https://raw.githubusercontent.com/devicons/devicon/55609aa5bd817ff167afce0d965585c92040787a/icons/nodejs/nodejs-original.svg" alt="NodeJs">
            <img src="https://raw.githubusercontent.com/devicons/devicon/55609aa5bd817ff167afce0d965585c92040787a/icons/arduino/arduino-original.svg" alt="Arduino">
            <img src="https://raw.githubusercontent.com/devicons/devicon/55609aa5bd817ff167afce0d965585c92040787a/icons/flutter/flutter-original.svg" alt="Flutter">
            <img src="https://raw.githubusercontent.com/devicons/devicon/55609aa5bd817ff167afce0d965585c92040787a/icons/laravel/laravel-plain.svg" alt="Laravel">
          </div>
        
          <!-- Grupo 4 -->
          <div class="skill-group">
            <img src="https://raw.githubusercontent.com/devicons/devicon/55609aa5bd817ff167afce0d965585c92040787a/icons/ionic/ionic-original.svg" alt="Ionic">
            <img src="https://raw.githubusercontent.com/devicons/devicon/55609aa5bd817ff167afce0d965585c92040787a/icons/java/java-original.svg" alt="Java">
            <img src="https://raw.githubusercontent.com/devicons/devicon/55609aa5bd817ff167afce0d965585c92040787a/icons/kotlin/kotlin-original.svg" alt="Kotlin">
            <img src="https://raw.githubusercontent.com/devicons/devicon/55609aa5bd817ff167afce0d965585c92040787a/icons/matlab/matlab-original.svg" alt="Matlab">
          </div>
        
          <!-- Grupo 5 -->
          <div class="skill-group">
            <img src="https://raw.githubusercontent.com/devicons/devicon/55609aa5bd817ff167afce0d965585c92040787a/icons/photoshop/photoshop-line.svg" alt="Photoshop">
            <img src="https://raw.githubusercontent.com/devicons/devicon/55609aa5bd817ff167afce0d965585c92040787a/icons/dart/dart-original.svg" alt="Dart">
            <img src="https://raw.githubusercontent.com/devicons/devicon/55609aa5bd817ff167afce0d965585c92040787a/icons/vscode/vscode-original.svg" alt="VS Code">
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-card>

  <!-- My Journey -->
  <ion-card class="default-card-styles path">
    <h2>My Journey</h2>
    <div class="roles-container">
      <!-- Tech Expertise -->
      <div class="role tech-expertise">
        <ion-icon name="code-slash-outline"></ion-icon>
        <h3>My Tech Expertise</h3>
        <p>These are the technologies I'm most proficient in:</p>
        <ul>
          <li *ngFor="let tech of techExpertiseList">{{ tech.name }}</li>
        </ul>
        <p>Additionally, I have experience working with methodology:</p>
        <ul>
          <li *ngFor="let meth of methodologyList">{{ meth.name }}</li>
        </ul>
      </div>

      <!-- Frontend Developer -->
      <div class="role frontend">
        <ion-icon name="browsers-outline"></ion-icon>
        <h3>Frontend Developer</h3>
        <p>I like to code things from scratch and enjoy bringing ideas to life in the browser.</p>
        <ul>
          <li *ngFor="let front of frontDeveloperList">{{ front.name }}</li>
        </ul>
        <div class="dev-tools">
          <h4>Dev Tools:</h4>
          <ul>
            <li *ngFor="let tools of frontToolsList">{{ tools.name }}</li>
          </ul>
        </div>
      </div>

      <!-- Backend Developer -->
      <div class="role backend">
        <ion-icon name="server-outline"></ion-icon>
        <h3>Backend Developer</h3>
        <p>In relation to Frontend, I also reinforce my knowledge in these technologies.</p>
        <ul>
          <li *ngFor="let back of backDeveloperList">{{ back.name }}</li>
        </ul>
        <div class="dev-tools">
          <h4>Dev Tools:</h4>
          <ul>
            <li *ngFor="let tools of backToolsList">{{ tools.name }}</li>
          </ul>
        </div>
      </div>
    </div>
  </ion-card>

  <!-- Portafolio -->
  <ion-card class="default-card-styles project-container">
    <section class="landing-page">
      <div class="background-image"></div>
      <div class="content-wrapper">
        <h1>Portfolio</h1>
        <p>These are some of the projects I've worked on.</p>
      </div>
      <div class="portfolio-container">
        <div class="portfolio-item" *ngFor="let project of projects">
          <div class="portfolio-item-image">
            <img [src]="project.imageUrl" alt="{{ project.title }}">
            <div class="portfolio-item-description">
              <p>{{ project.description }}</p>
            </div>
          </div>
          <div class="portfolio-item-content">
            <h3>{{ project.title }}</h3>
            <p>Developed with: {{ project.language }}</p>
            <div class="button-container">
              <a [href]="project.demoUrl" class="demo-link">
                <ion-icon name="open-outline"></ion-icon>
                Live Demo
              </a>
              <a [href]="project.sourceUrl" class="source-link">
                <ion-icon name="code-outline"></ion-icon>
                View Source
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </ion-card>

  <!-- Footer -->
  <ion-card class="default-card-styles footer">
    <div class="footer-content">
  
      <!-- Contact card -->
      <h1>Contact me:</h1>
      <div class="user-card">
        <div class="profile-info">
          <div class="avatar-img">
            <img [src]="avatarUrl" alt="User Avatar">
          </div>
          <div class="name-title">
            <h2>Angel Gonzalez</h2>
            <p>Software Engineer</p>
          </div>
        </div>
        <div class="contact-me">
          <p>Have any questions or interested in working with me? Feel free to get in touch:</p>
          <div class="phone">
            <ion-icon name="phone-portrait-outline"></ion-icon>
            <span>+52 (618) coming soon</span>
          </div>
          <div class="email">
            <ion-icon name="mail-outline"></ion-icon>
            <a href="mailto:angel.gonzalezh08@gmail.com">angel.gonzalezh08&#64;gmail.com</a>
          </div>
        </div>
      </div>
  
      <!-- Network icons -->
      <h1>Social networks and hobbies</h1>
      <div class="contact-info">
        <div class="social-card" *ngFor="let social of socialLinks">
          <a [href]="social.url" target="_blank" [title]="social.title">
            <div [class]="'social-icon ' + social.icon"></div>
            <div class="social-info">
              <p>{{ social.description }}</p>
            </div>
          </a>
        </div>
      </div>
      <p class="copyright">&copy; 2023 Web Developer | Angel Gonzalez | Built with Ionic and Angular. All rights reserved.</p>
    </div>
  </ion-card>
</ion-content>