<ion-content [fullscreen]="true" class="ion-padding" (dragover)="onDragOver($event)" (drop)="onDrop($event)">
  <div class="ion-text-center">
    <ion-row>
      <ion-col size="6">
        <div class="profile-images">
          <img [src]="getBase64Image(base64Image)" alt="Imagen actual del perfil">
          <p class="image-label">Imagen Actual</p>
        </div>
      </ion-col>

      <ion-col size="6">
        <div class="profile-images">
          <img [src]="newImageBase64 ? 'data:image/jpeg;base64,' + newImageBase64 : ''" alt="Nueva imagen del perfil">
          <p class="image-label">Nuevo Perfil</p>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-top">
      <ion-col size="12" class="ion-text-center">
        <input #fileInput type="file" class="input-hidden" accept="image/*" (change)="onFileSelect($event)">
        <ion-button (click)="openFileInput()">Buscar Imagen</ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-top">
      <ion-col size="6" class="ion-text-center">
        <ion-button (click)="onUpload()">Confirmar</ion-button>
      </ion-col>
      <ion-col size="6" class="ion-text-center">
        <ion-button (click)="onCancel()">Cancelar</ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>