ion-content {
  --background: url("https://pbs.twimg.com/media/DYdVzQMUQAIzvga?format=jpg&name=large") center/cover no-repeat fixed;
  border: 2px solid white;
  --offset-bottom: auto;
  --overflow: hidden;
  overflow: auto;
  &::-webkit-scrollbar {
      display: none;
  }
  background: var(--background);
}

.profile-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  height: 100%;

  img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 15px;
      border: 5px solid white;
      box-shadow: 0 0 15px rgb(0, 0, 0);
  }
}

.input-hidden {
  display: none;
}
