<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>files</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="card-container">
      <ion-card class="social-card">
        <div class="user-card">
          <div class="profile-info">
            <div class="avatar-img">
              <img [src]="avatarUrl" alt="User Avatar">
            </div>
            <div class="name-title">
              <h2>Angel Gonzalez</h2>
              <p>Software Engineer</p>
            </div>
          </div>
          <div class="contact-me">
            <p>Have any questions or interested in working with me? Feel free to get in touch:</p>
            <div class="phone">
              <ion-icon name="phone-portrait-outline"></ion-icon>
              <span>+52 (618) proximamente</span>
            </div>
            <div class="email">
              <ion-icon name="mail-outline"></ion-icon>
              <a href="mailto:angel.gonzalezh08@gmail.com">angel.gonzalezh08&#64;gmail.com</a>
            </div>
          </div>
        </div>

        <div class="user-card">
          <div class="profile-info">
            <div class="avatar-img">
              <img [src]="avatarUrl" alt="User Avatar">
            </div>
            <div class="name-title">
              <h2>{{ githubUser.name }}</h2>
              <p>{{ githubUser.bio }}</p>
            </div>
          </div>
          <div class="contact-info">
            <p>Have any questions or interested in working with me? Feel free to get in touch:</p>
            <div class="contact-item">
              <ion-icon name="phone-portrait-outline"></ion-icon>
              <span>+52 (618) proximamente</span>
            </div>
            <div class="contact-item">
              <ion-icon name="mail-outline"></ion-icon>
              <a href="mailto:angel.gonzalezh08@gmail.com">angel.gonzalezh08&#64;gmail.com</a>
            </div>
            <div class="contact-item">
              <ion-icon name="people-outline"></ion-icon>
              <span>Followers: {{ githubUser.followers }}</span>
            </div>
          </div>
        </div>
      </ion-card>

      <ion-card class="repos-card" *ngIf="repos.length > 0">
        <ion-card-header>
          <ion-card-title>Repos</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item *ngFor="let repo of repos">
              <ion-label class="repo-name">{{ repo.name }}</ion-label>
              <ion-label class="repo-description">{{ repo.description }}</ion-label>
              <ion-label class="repo-language">{{ repo.language }}</ion-label>
              <ion-label class="repo-stars">{{ repo.stargazers_count }} stars</ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>