<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="menu-content"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Bienvenido a mi Portafolio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Información del Usuario -->
  <div>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Información del Usuario</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p>¡Hola, visitante! Aquí encontrarás información interesante sobre mí.</p>
        <ion-button (click)="GetTokenUser()">Obtener Token de Usuario</ion-button>
        <p *ngIf="token">Tu Token: {{ token }}</p>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Bienvenida -->
  <div id="container">
    <strong>Explora mi trabajo y descubre nuevas experiencias</strong>
    <p>¡Bienvenido a mi espacio digital! Soy [Tu Nombre], un apasionado desarrollador creativo con habilidades en diversas tecnologías.</p>
    <a href="#proyectos">Ver Proyectos</a>
  </div>

  <!-- Proyectos -->
  <div id="proyectos">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Proyectos Destacados</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Proyecto A</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <p>Descripción del proyecto A.</p>
            <ion-button (click)="VerDetallesProyecto('proyectoA')">Ver Detalles</ion-button>
          </ion-card-content>
        </ion-card>

      </ion-card-content>
    </ion-card>
  </div>

  <!-- Habilidades -->
  <div id="habilidades">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Habilidades</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p>Estas son algunas de mis habilidades clave:</p>
        <ul>
          <li>Desarrollo web con Angular</li>
          <li>UI/UX Design</li>
          <li>Desarrollo móvil con Ionic</li>
        </ul>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
