<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="volver"></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil de Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <!-- Tarjeta de Usuario -->
    <ion-col size="6">
      <ion-card class="user-card">
        <ion-card-content>
          <div class="imagen" (click)="openProfileImageModal()" (mouseover)="showEditIcon = true" (mouseleave)="showEditIcon = false">
            <img [src]="getBase64Image(base64Image)" alt="Imagen de perfil actual" class="avatar" />
            <ion-icon *ngIf="showEditIcon" name="create" class="edit-icon"></ion-icon>
          </div>
          <div class="informacion">
            <span class="username">{{userInfo.username || 'Sin username'}}</span>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <!-- Tarjeta de Información -->
    <ion-col size="6">
      <ion-card class="info-card">
        <ion-card-content>
          <ion-list lines="full" class="user-details">

            <ion-item>
              <ion-label>
                <h3>Correo Electrónico</h3>
                <p>{{userInfo.email || 'Sin correo electrónico'}}</p>
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-label>
                <h3>Nombre</h3>
                <p>{{userInfo.nombre || 'Sin nombre'}}</p>
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-label>
                <h3>Apellido</h3>
                <p>{{userInfo.apellidos || 'Sin apellido'}}</p>
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-label>
                <h3>Fecha de Nacimiento</h3>
                <p>{{userInfo.fecha_nacimiento || 'Sin fecha de nacimiento'}}</p>
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-label>
                <h3>Género</h3>
                <p>{{userInfo.nombre_genero || 'Sin género'}}</p>
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-label>
                <h3>Número de Teléfono</h3>
                <p>{{userInfo.numero_telefono || 'Sin número de teléfono'}}</p>
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-label>
                <h3>Rol</h3>
                <p>{{userInfo.nombre_rol || 'Sin rol'}}</p>
              </ion-label>
            </ion-item>
            
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
